<div class="task-item">
    <div class="task-item-left"> 
      <mat-checkbox
        type="checkbox"
        [(ngModel)]="task.completed"
        (change)="doneEdit(task)" 
        (click)="ifCompleted()"
        autofocus
        >
      </mat-checkbox>

      <div 
        class="task-item-label" 
        *ngIf="!task.editing; else editingTask" 
        (click)="editName(task)" 
        [ngClass]="{ 'completed' : task.completed}"
      >{{ task.name }}

        <div class="task-icons-label">
          <div class="note-description">
            <mat-icon md-48 *ngIf="task.description.length > 0">note</mat-icon>
          </div>
          <div class="date-description">
            <mat-icon *ngIf="task.date">event </mat-icon>
            {{ task.date | date: 'dd/MM/yyyy' }}
          </div>
        </div>
      </div>
  
      <ng-template #editingTask>
        <input 
          type="text" 
          class="task-item-edit"
          [(ngModel)]="task.name"
          (blur)="doneEdit(task)"
          (keyup.enter)="doneEdit(task)"
          (keyup.esc)="cancelEdit(task)"
        >
      </ng-template>


    </div>

    <div class="task-item-right">
      <button 
        mat-icon-button class="edit-item" 
        (click)="openDialog()">
        <mat-icon >more_vert</mat-icon>
      </button>

      <!-- <button 
        mat-icon-button  
        class="remove-item" 
        (click)="deleteTask(task.id)">
        <mat-icon >delete_outline</mat-icon>
      </button> -->
    </div>
  </div>