.mat-dialog-title {
    padding: 10px 0px 0px 15px;
}

.mat-dialog-content {
    padding: 1%;
}

.priority {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 10px 0px 0px 15px;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
}

.status {
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 10px 0px 0px 15px;
    width: 90%;
    height: 70px;
    margin: auto;
    margin-bottom: 5px;
}

.decription-input {
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 10px 0px 0px 15px;
    width: 90%;
    margin: auto;
}

.description {
    width: 100%;
}

.term,
.completed {
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 10px 0px 0px 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

button {
    margin: auto;
    border: 1px solid antiquewhite;
    border-radius: 2px;
}