<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <button 
      class="inside-btn"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(isHandset$ | async)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a 
        mat-list-item
        (click)="filter='important'">
          <mat-icon>star</mat-icon>
          <br> Ważne
      </a>
      <a 
        mat-list-item >
          <mat-icon>event</mat-icon>
          <br> Zaplanowane
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
      <button 
        class="outside-btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
