.sidenav-container {
  background-color: transparent;
}

.sidenav-content .mat-toolbar{
  background-color: transparent;
  color: white;
  /* border: 2px solid whitesmoke;
  border-radius: 5px; */
}
.inside-btn {
  padding: 10px 25px;
}

.sidenav {
  width: 200px;
  background-color: whitesmoke;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-drawer-content {
  display: inline;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
