<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
      <button 
        mat-icon-button
        class="outside-btn"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon class="button-icon"aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>

  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <button
      class="inside-btn"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(isHandset$ | async)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <p class="menu-date">{{ date | date: 'dd - MM - yyyy' }}</p>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="user-container">
        <mat-icon class="user-icon" aria-label="Side nav toggle icon">account_circle</mat-icon>
        <p class="user-name">User One</p>
        <p class="user-mail">user-one@mail.com</p>
      </div>
      <a 
        mat-list-item 
        (click)="filterImportant()">
          <mat-icon>star</mat-icon>
          <br> Ważne
      </a>
      <a 
        mat-list-item >
          <mat-icon>event</mat-icon>
          <br> Zaplanowane
      </a>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>